* {
  border: 1px solid red;
  background-color: aliceblue;
}

h1 {
  font-family: "Times New Roman", serif;
  color: darkblue;
}

.food-image {
  height: auto;
  width: 250px;
}

h2 {
  color: saddlebrown;
  display: flex;
  padding: 3px;
  margin: 20px 5px;
}

.recipes li {
  color: mediumblue;
  display: inline-block;
  margin: 5px auto;
  padding: 10px;
  background-color: lightsalmon;
}

.intro {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}